@keyframes slideLeft {
    from {
        opacity: 0;
        left: -25px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        left: 25px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        top: -25px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}


@keyframes slideDown {
    from {
        opacity: 0;
        top: 25px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

